<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{ form.username }} </ion-title>
  </ion-toolbar>
  <!-- 
    Pada kode tersebut, "{{ form.username }}" digunakan untuk menampilkan nilai dari properti "username" yang ada dalam objek "form"
    di komponen Angular yang berada di belakangnya. Dengan demikian, 
    teks "Welcome" akan ditampilkan diikuti dengan nilai dari properti "username" pada objek "form".
    
    Dalam kerangka kerja Angular, sintaksis "{{ }}" disebut dengan interpolation, 
    yang digunakan untuk menampilkan nilai dari properti atau variabel ke dalam template HTML. Dengan interpolation, 
    nilai dari properti atau variabel dapat ditampilkan secara dinamis ketika ada perubahan nilai pada properti atau variabel tersebut.
   -->
</ion-header>

<ion-content>

</ion-content>